
<%- include("header") -%>

<div class="wrapper">
  <h1><strong>TODO LIST</strong></h1>
  <form class="item" action="/" method="post">
  <input id="inp" name="n" type="text"  placeholder="ADD NEW TASK" class="inp">
  <span><button id="btn" type="submit"><i class="fas fa-plus-square"></i></button></span>
  </form>
  <% newlist.forEach(function(item){ %>
  <form action="/delete" method="post">
    <div class="item">
        <div class="round">
        <input type="radio" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()" id="checkbox">
        
        <label for="checkbox"><%= item.name %></label>
        </div>
    </div>
    
    </form>
  <% }) %>
</div>
<%- include("footer") -%>
    